 .App-logo {
    width: 500px;
    margin: 50px auto 50px;
    overflow: hidden;
}

/* Tutorial source : https://red-team-design.com/how-to-create-a-cool-and-usable-css3-search-box/*/
.SearchAudio-form {
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;
    width: 500px;
    height: 35px;
    padding: 10px;
    margin: 50px auto 50px;
    overflow: hidden;
}

.SearchAudio-text {
    padding: 5px 9px;
    height: 23px;
    width: 380px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

.SearchAudio-button {
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.SearchAudio-button:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}

.SearchAudio-button:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.SearchAudio-button::-moz-focus-inner {
    border: 0;
    /* Small centering fix for Firefox */
}

.AudioTitle-row {
    margin: 2px auto 2px;
    width: 500px;
    overflow: hidden;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 15px 16px;
    background-color: #f2f2f2;

}

.AudioTitle-music-log{
    height: 50px; 
    width: 50px;
}

.AudioTitle-text {
    position: relative;
    top : -20px; left: 20px
}

.AudioTitle-expand-button{
    height: 50px; width: 50px; float:right
}