 .AudioTitle-container:hover{
     cursor: hand;
     cursor: pointer;
 }

.AudioTitle-music-log{
    height: 50px; 
    width: 50px;
}

.AudioTitle-text {
    position: relative;
    top : -20px; left: 20px
}