body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    width: 80%;
    font-size: 14px;
    margin: 20px auto 2px;
    background: white;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}